<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>offline-plugin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="offline-plugin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#181743">
    <meta name="application-name" content="offline-plugin">
    <meta name="msapplication-config" content="/browserconfig.xml">
  </head>
  <body>
    <div class="main">
      <a class="logo-wrap" href="https://github.com/NekR/offline-plugin">
        <div class="logo">
          <%= require('./logo.svg') %>
        </div>
        <div class="logo-hexagon" id="hexagon">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 726 628"><polygon points="723,314 543,625.769145 183,625.769145 3,314 183,2.230855 543,2.230855 723,314" fill="transparent" stroke="white" stroke-width="4"/></svg>
        </div>
      </a>
      <div class="title">offline-plugin</div>
      <div class="sub-title">for webpack</div>
      <div class="offline-ready" id="offline-ready">
        <div>
          This website is now ready for offline usage because <code><a href="https://github.com/NekR/offline-plugin">offline-plugin</a></code> made it so. Try it!
        </div>
        <div class="offline-ready-close" id="offline-ready-close" role="button">
          <%= require('./close.svg') %>
        </div>
      </div>

      <a class="source-code" href="https://github.com/NekR/offline-plugin-pwa">
        Source code on GitHub <%= require('./github-logo.svg') %>
      </a>
    </div>
  </body>
</html>